.medali {
text-align: center;  /* Meletakkan konten di tengah secara horizontal */
padding: 20px 0;     /* Memberi jarak atas dan bawah untuk medali */
}
.container-custom-1{
    text-align: center!important;
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
    box-sizing: border-box;
    display: block;
}

.medali i {
font-size: 50px;    /* Anda dapat menyesuaikan ukuran sesuai kebutuhan */
color: aqua;
}

.konten-1 h1 {
font-size: 20px;    /* Mengurangi ukuran tulisan */
font-family: sans-serif;
}

.konten-1 {
text-align: center; /* Meletakkan konten di tengah secara horizontal */
font-family: sans-serif;
}
/* */
.container-custom-2{
    text-align: center!important;
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
    box-sizing: border-box;
    display: block;
}
.user{
text-align: center;
padding: 20px;
color: orange   ;
}
.user i{
    font-size: 50px;
}
.konten-2 h1{
    font-size: 20px;
    font-family: sans-serif;
}
.konten-2 {
    text-align: center;
    font-family: sans-serif;
}
/* */
.container-custom-3{
    text-align: center!important;
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
    box-sizing: border-box;
    display: block;
}
.tv{
text-align: center;
padding: 20px;
color: blueviolet;
}
.tv i{
    font-size: 50px;
}
.konten-3 h1{
    font-size: 20px;
    font-family: sans-serif;
}
.konten-3 {
    text-align: center;
    font-family: sans-serif;
}
/* */
.container-custom-4{
    text-align: center!important;
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
    box-sizing: border-box;
    display: block;
}
.film{
text-align: center;
padding: 20px;
color:green;
}
.film i{
    font-size: 50px;
}
.konten-4 h1{
    font-size: 20px;
    font-family: sans-serif;
}
.konten-4 {
    text-align: center;
    font-family: sans-serif;
}

